---
import exampleURL from '../assets/example.jpg?size=320,640,960&type=avif,webp'
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href={Astro.resolve('./style.css')}>
		<title>Welcome to Astro</title>
		<style global>
			h {
				display: block;
				font-size: 2em;
				font-weight: bold;
				margin-block: 0.67em;
			}
		</style>
	</head>
	<body>
		<h1>Welcome to Astro</h1>
		<img srcset={exampleURL.srcset} alt="Example" />
	</body>
</html>
